<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/Public/Admin/style/css/ch-ui.admin.css">
    <link rel="stylesheet" href="/Public/Admin/style/font/css/font-awesome.min.css">
    <script src="/Application/Common/JS/jquery.js"></script>
    <script src="/Public/Admin/style/js/dialog.js"></script>
    <script src="/Application/Common/JS/layer.js"></script>

</head>
<body>
<!--面包屑导航 开始-->
<div class="crumb_warp">
    <!--<i class="fa fa-bell"></i> 欢迎使用登陆网站后台，建站的首选工具。-->
    <i class="fa fa-home"></i> <a href="#">首页</a> &raquo; <a href="#">商品管理</a> &raquo; 添加商品
</div>
<!--面包屑导航 结束-->

<div class="result_wrap">
    <form action="" method="post">
        <table class="add_tab">
            <tbody>
            <tr>
                <th width="120"><i class="require">*</i>父级分类：</th>
                <td>
                    <select name="p_id">
                        <option value="">==请选择==</option>
                        <volist name="p_list" id="p">
                            <option value="{$p.cate_id}">{$p.cate_name}</option>
                        </volist>
                    </select>
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>分类名称：</th>
                <td>
                    <input type="text"  name="cate_name">
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>分类标题：</th>
                <td>
                    <input type="text" class="lg" name="cate_title">
                </td>
            </tr>
            <tr>
                <th><i class="require">*</i>分类排序：</th>
                <td>
                    <input type="text" name="cate_order">
                </td>
            </tr>
            <tr>
                <th></th>
                <td>
                    <input type="button" onclick="cate_add()" value="提交">
                    <input type="button" class="back" onclick="history.go(-1)" value="返回">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>

<script>
    function cate_add(){
        var p_id = $('select[name=p_id]').val();
        var cate_name = $('input[name=cate_name]').val();
        var cate_title = $('input[name=cate_title]').val();
        var cate_order = $('input[name=cate_order]').val();

        var url='/Admin/Category/cateAddAction';
        var data = {'p_id':p_id,'cate_name':cate_name,'cate_title':cate_title,'cate_order':cate_order};

        $.post(url,data,function (data) {
            if(data.status !=0){
                dialog.error(data.message);
                return ;
            }
            dialog.success(data.message,'/index.php/Admin/Category/cateList');
        },'JSON');
    }
</script>